.part_3 {
    width: 100%;
    height: 30em;
    background-image: linear-gradient(rgba(135, 206, 250, 0.5), rgba(135, 206, 250, 0.5)), url(../images/pexels-daniel-frank-305565.jpg);
    background-size: 100% 30em;
    position: relative;
    z-index: -1;
}

.part_3-content {
    position: absolute;
    top: 65%;
    left: 5%;
    color: white;
}

.part_3-content ul {
    list-style: none;
}

#part_3-content-1 {
    font-size: 20px;
}

#part_3-content-2 {
    font-size: 30px;
    font-weight: bold;
}

#part_3-content-3 {
    margin-left: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: large;
}

.part_3-content-3-text a {
    text-decoration: none;
    color: white;
}